<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <!--阈值-->
    <add key="ThresholdValue" value="1.0" />
    <!--编辑器-->
    <add key="TextEditor" value="C:\\Windows\\notepad.exe" />
  </appSettings>
</configuration>